body {
    background-image: url("../../img/starwarscrawl.png");
    background-color: black;
    color: yellow;
    font-family: 'Pathway Gothic One', sans-serif;
}
h1 {
    font-size: xx-large;
    text-align: center;
}
ul {
    font-size: larger;
}